/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');*/
/*font-family: 'Poppins', sans-serif;*/

@import url("custom-radiocheck.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
/*font-family:'Roboto', sans-serif*/

body{ color:#333; background: linear-gradient(120deg, #593b7b 20%, #EC5252 100%);   font-family:'Roboto', sans-serif; line-height:25px; font-size:14px; font-weight:400; padding-top:65px }

p{ padding-bottom:5px;}
a, a:hover{ color:#3b82dc; text-decoration:none;}
.brandColor{ color:#000;}
img{ max-width:100%; height:auto}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ line-height:normal;}
h3{ padding-bottom:5px; line-height:normal;}
h4{ font-weight:400;}
h5{ }
h2{ padding-bottom:5px; }

.text-primary{ color:#1876cb}
.text-dark{    color:#000 }
.text-white{ color:#fff !important}

.text-capital{ text-transform:uppercase}
.text-semibold{ font-weight:500}
.text-regular{  font-weight:300}
.text-bold{ font-weight:800;}
.text-thin{ font-weight:300;}


ul, ol{ margin:0px; padding:0px;}
.form-control{ border-color:#e4e4e4; border-radius:0px;}
.form-control:focus{ border-color:#ccc; border-radius:0px; box-shadow:none; color:#000}
label{ font-weight:300;}
.list-style1{ padding:0px; margin:0px; margin-left:15px;}
.list-style1 li{ list-style-type:none; display:block; margin-bottom:15px; position:relative; padding-left:15px;}
.list-style1 li:before{content:"\f0da"; font-family:FontAwesome; position:absolute; left:0px; top:0px; font-size:14px; color:#2E384A}

.list-inline {
}
.list-inline li {
	display: inline-block;
	padding-left:25px;
	padding-bottom:10px;
	position:relative
}
.list-inline li::before {
content:"";
width:8px;
height:8px;
background:#7E57C2;
position:absolute;
left:10px;
color:#000;
font-size:12px;
top:9px;
}

.img-borderes{ border:solid 2px rgba(0, 0, 0, 0.1)}

.hilighted-txt{ color:#9f375f;}
strong{ font-weight:800;}

.alert{ padding:5px 20px;}
.alert.alert-info{ color:#000}


.btn{ border:0px; padding:8px 15px; font-weight:500}
.btn-primary{ background:#673AB7}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{ background:#5E35B1;}
.btn i{ font-size:21px; vertical-align:middle; line-height:0; }

.btn-sm{padding:4px 15px;}

.form-control{ border-color:#999;}
.form-control:focus{ border-color:#555;}

.btn{ border-radius:3px;}
.btn-lg{ font-size:14px;}

.btn-default{ background:#E0E0E0;color:#212121;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{ background:#E0E0E0; color:#212121}

.btn-danger{ background:#eb1117; border:0px; color:#fff;}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{ background:#c2070c; color:#fff}

.btn-lg{ padding:15px 30px;}


.btn-rounded{ border-radius:100px;}

.btn-text{ color:#656565; font-weight:400; font-weight:600; transition: ease 0.3s }
.btn-text i{ width:50px; height:50px; border-radius:100px; padding-top:16px; vertical-align:middle; background:#F1F1F1; color:#E54E3E; margin:0 10px; position:relative; right:0px; transition:ease 0.3s}
.btn-text:hover i{ right:-10px;  }




.btn.disabled, .btn[disabled]{ background:#E0E0E0; color:#616161}



.table-responsive{ overflow-x:auto;}





.no-padding{         padding:0px        !important;}
.no-padding-left{    padding-left:0px   !important;}
.no-padding-right{   padding-right:0px  !important;}
.no-padding-top{     padding-top:0px    !important;}
.no-padding-bottom{  padding-bottom:0px !important;}

.no-margin{          margin:0           !important;}
.no-margin-left{     margin-left:0      !important;}
.no-margin-right{    margin-right:0     !important;}
.no-margin-top{      margin-top:0       !important;}
.no-margin-bottom{   margin-bottom:0    !important;}


.margin-top{ margin-top:50px;}


section{ padding:5px 0}
.fixed-header{backdrop-filter: saturate(180%) blur(10px); background:rgba(114, 28, 82, 0.8); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}

.mainHeader{ background:none; transition:ease 0.3s;  position:fixed; top:0; left:0px; right:0px; z-index:1000; background: linear-gradient(120deg, #593b7b 20%, #EC5252 100%);  }
.mainHeader.sticky-header{ position:fixed; left:0px; right:0px; top:0px; background:linear-gradient(120deg, #593b7b 20%, #EC5252 100%); z-index:100; box-shadow:0 0px 20px rgba(0, 0, 0, 0.6)}

.headerLogo { float:left; padding:20px}
.headerLogo img{ height:24px; width:auto; }
.header-right{ float:right}
.header-left{ float:left;}

.headerCntnt{ color:#fff; padding-top:8px}
.headerCntnt> li{ list-style-type:none; display:inline-block; vertical-align: middle;}
.headerCntnt> li .btn{  padding:15px}
.headerCntnt> li .btn:focus{ background:rgba(0, 0, 0, 0.1)}
.headerCntnt .date, .headerCntnt .ratesScroller{ padding:10px 40px 0px 40px; margin-top:-3px;}
.headerCntnt .date{ font-size:20px; font-weight:300; padding-top:0px}



.mainHeader .btn-link, .mainHeader .btn-link:hover, .mainHeader .btn-link:focus{ color:#fff; text-decoration:none;}
.mainHeader .btn-link:focus{ background:rgba(0, 0, 0, 0.2)}

.userInfo .userImg { float:left; margin-right:10px; margin-top:-7px; margin-bottom:-7px}
.userInfo .userImg img{ width:34px; height:34px; border-radius:100px; margin-right:10px}


/*
.userInfo{line-height:14px; }
.userInfo .btn{ text-align:left}
.userInfo .userName{ float:left; padding-top:5px; margin-top:-7px}
.userInfo .welcome{ display:block; font-size:11px;}
.userInfo .userTitle{display:block}

*/
.carousel-inner{ width:300px; margin-top:-5px;  background: rgba(0, 0, 0, 0.1); border-radius:100px;}
.carousel-control{ background: rgba(0, 0, 0, 0.1); width:40px; height:40px; border-radius:100px; background-image:none; opacity:1; padding-top:8px; top:3px;}
.carousel-inner .item{ padding:0 25px; text-align:center; border-radius:100px; padding-top:5px }

.carousel-control.right, .carousel-control.left{ background-image:none}

.itemTitle{ font-size:13px; display:block; line-height:16px; font-weight:300}
.itemTitle span{ font-weight:500;}
.itemCost{ font-size:18px; font-weight:500; color:#FFCC80}











.left-nav{ width:140px;  position:fixed;  top:80px; bottom:0px; padding-top:5px;}
.left-nav .iconTabs{ padding:0px; margin:0px; margin-left:10px;}
.left-nav .iconTabs li{ list-style-type:none; display:block;}
.left-nav .iconTabs li a{ display:block; background:none; padding:15px 10px 10px 25px; text-align:center; margin-bottom:1px; border-radius:50px 0 0 50px;  color:rgba(255, 255, 255, 0.7); font-size:11px; transition: ease 0.3s;}
.left-nav .iconTabs li a img{ height:24px; width:auto;}
.left-nav .iconTabs li a .tabIcon{  display:block; font-size:24px;}
.left-nav .iconTabs li a .tabTitle{ display:block;}
.left-nav .iconTabs li a:hover, .left-nav .iconTabs li a.active{ background:rgba(255, 255, 255, 0.1); color:#fff !important}
.left-nav .iconTabs li a.active{ box-shadow: 0 5px 40px  rgba(0, 0, 0, 0.1)}



.right-content{ margin-left:140px; background: rgba(255, 255, 255, 0.90); border-radius:25px 0 0 0px; min-height:500px; padding:20px 20px 0px 20px; position:relative; }
.main-footer{ text-align:right; border-top:solid 1px rgba(0, 0, 0, 0.1); padding:5px 10px; margin:0 -20px; background:#fff; position:relative}




/************/
.hero-panel{ background:none; border:0px; box-shadow:none !important}
.hero-panel > .panel-heading{ background:none; padding:10px 5px; margin-bottom:10px;} 
.hero-panel > .panel-footer{ background:none; margin-bottom:0px; border:0px;} 

.hero-panel > .panel-heading .panel-title{ font-size:24px; font-weight:500;}
.hero-panel > .panel-body{ padding:0px 0px;}

/******************/
.panel-title{ display:inline;}
.panel-options{display:inline; float:right}




.amountHilight{ margin:-15px -15px 0 -15px; padding:15px; border-bottom:solid 1px #E0E0E0; background:#F5F5F5; margin-bottom:15px; text-align:center}

/*************/
.soldCardWrapper{  margin-bottom:10px; width:50%; display:inline-block }
.soldCard{ background:#fff; /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);*/ padding:5px; margin:0 5px 0 5px; border-radius:0px; position:relative; color:#333; border-bottom:solid 1px #ECEFF1;}
.soldCardWrapper:nth-child(1) .soldCard{ margin-left:0px;}
.soldCardWrapper:nth-last-child(1) .soldCard{  margin-right:0px;}
.soldCard a:focus, .soldCard a:visited{ text-decoration:none;}
.soldCard .soldGraph{ width:80px;  position:absolute; left:15px; top:13px;}
.soldCard .soldGraph img{ width:60px; height:auto;  }
.soldCard .soldInfo{ padding-left:90px;}
.soldCard .soldTitle{ display:block;}
.soldCard .soldAmount{display:block;  font-size:20px; color:#000; margin:0px 0; font-family:Arial;}
.soldCard .soldAmount sup{ font-family:verdana; font-size:14px; margin-right:3px;}
.soldCard .soldUnit{display:block}
.soldCard .soldUnit sub{  top:-3px; position:relative;}

/**************/

.table th{ font-weight:600;}
.table td{ }
.max-height-h1{max-height:400px; overflow:auto}

.flex{ display:flex}


.panel-default{ border:0px; border-radius:10px; box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25)}
.panel-default> .panel-body{}
.panel-default> .panel-heading{ background:none; }
.panel-default> .panel-heading h3.panel-title{ font-weight:500;font-size:16px; color:#212121; }

/***************/
.nav-tabs{ margin-bottom:15px;}

.summary-card{display:block; border-radius:5px; padding:10px 15px 10px 70px;  position:relative; color:#fff; transition: ease 0.3s; margin-bottom:15px; text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)}
.summary-card:hover, .summary-card:focus{ color:#fff; text-decoration:none}
.summary-card img{ width:50px; height:auto; position:absolute; left:10px; top:15px;}
.summary-card h5, .summary-card h2{ margin:0px; padding:0px; }
.summary-card h5{ font-size:13px;}

.summary-card.registred{      background:#50d890}
.summary-card.readytoDelivery{background:#ff8364}
.summary-card.delevered{      background:#9574EA}
.summary-card.birthdays{      background:#ad62aa}
.summary-card.occations{      background:#50d890}


.progContent{ margin-bottom:15px;}
.progContent > .progress{ height:6px; margin-bottom:5px;}
.progContent h5, .progContent h6{ margin:5px 0}


/********/

.left-nav-holder {overflow-y:auto; padding-top:0px; margin:20px; margin-top:20px;}
.left-subnav { padding:0px; margin:0px;}
.left-subnav li{ margin-bottom:5px;}
.left-subnav li a { display:block; padding:6px 20px; font-weight:500;	position:relative; background:none;	 background:#fff; border-radius:20px; 	color:#000; text-decoration:none;}
.left-subnav li a.active { background:#FF8F00; color:#fff;}
.left-subnav li a:hover, .left-subnav li a:focus{ text-decoration:none}
.left-subnav li .collapse li a{}

.left-subnav .hasAccordian{background:#DBD7DD; border-radius:25px;}
.left-subnav .hasAccordian> a:after {	position:absolute;	content:"\f2fc";	right:15px;	top:6px;	font-family:Material-Design-Iconic-Font, arial;transition:ease .3s all;	font-size:16px; }
.left-subnav .hasAccordian> a.collapsed:after {content:"\f2fc";	transform:rotate(180deg)}
.left-subnav .hasAccordian> ul li a{ background:none; }
.left-subnav .hasAccordian> a.collapsed{ border-radius:20px}
.left-subnav .hasAccordian .collapse{}


.btnBack{ background:#fff; padding:2px; width:40px; height:40px; border-radius:100px; display:inline-block; text-align:center; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); margin-right:15px;}

.innerContainer{ display: flex}
.innerLeftNav{  width:20%;  float:left;  margin:-20px 20px -20px -20px; background: rgba(255, 255, 255, 0.1);   border-radius: 28px 0 0 0; box-shadow:1px 0 0px rgba(0, 0, 0, 0.1)}
.innerRightCntnt{ width:100%; width:80%; float:left}


.form-group{ min-height:70px; margin-bottom:5px;}
.control-label{ display:block}

label{ margin-bottom:0px; font-weight:400; color:#212121; font-size:13px;}
.form-group:hover label, .form-group:focus label{   color:#1976D2;}

.form-group:hover .radio label, .form-group:hover .checkbox label{ color:#000}



.form-control, .form-control:focus, .form-group.has-error .form-control{ border:0; box-shadow: 0 1px 0px #BDBDBD;  padding:0; height:24px; color:#212121; font-weight:500; background:none }
.form-control:focus{box-shadow: 0 2px 0px #29B6F6;}

.navbar-nav .form-group{ padding:18px; margin:0 15px; min-height:inherit}
.navbar-nav .form-control{ color:#fff !important;}
.navbar-nav .form-control option{ color:#000!important;}


.form-group.has-error .form-control{box-shadow: 0 2px 0px red;}
.form-group.has-error label, .form-group.has-error .help-block{ color:#e53935; position:relative}

.form-group.has-disabled .form-control{box-shadow: 0 1px 0px #E0E0E0; background:none}
.form-group.has-disabled label, .form-group.has-disabled:hover label{ color:#BDBDBD} 


.help-block{ font-size:12px;}
.form-group.has-error .help-block:before{content:"\f1f4"; font-family:Material-Design-Iconic-Font; font-size:16px; margin-right:3px; vertical-align:middle}


::placeholder { /* Firefox, Chrome, Opera */ 
    color: #E0E0E0 !important; 
} 
  
.modal-content{ background:#EEEEEE; box-shadow:0px 5px 100px rgba(0, 0, 0, 0.5); border:0}
/*.fade{backdrop-filter: saturate(168%) blur(22px)}*/
.modal-header{ background:#673AB7; color:#fff; padding:15px 24px; }
.modal-body{ padding:24px; max-height:500px; overflow:auto}
.modal-footer{ text-align:center; background:#fff;}

.modal-title{font-size:24px;}
.close, .close:hover, .close:focus{ font-weight:100; font-size:40px; color:#fff; box-shadow:none; opacity:1; margin-top:-10px;}
.modal-header .close{ margin-top:-8px;}

.dropdown-right{ right:0; left:auto;}

.dataTable tbody{ background:red; height:300px; overflow:auto} 




 @media screen and (max-width: 1200px) {
.headerCntnt .date, .headerCntnt .ratesScroller{ padding:2px 5px 0px 5px}
.carousel-inner{ width:300px; }

 }
